# Environment variables and secrets
.env
.sesskey
.venv
__pycache__/

# Virtual environments
venv/
.env/
.env*/
.venv/
*.venv/
env/

# Python cache files
__pycache__/
*.pyc

# Node modules or other heavy directories (if any)
node_modules/
# main
